/*
 * SPDX-License-Identifier: GPL-2.0-only
 * Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
 *
 */

/dts-v1/;

#include "qcs405.dtsi"
#include "qcs405-wsa-audio-overlay.dtsi"
#include "qcs405-circular-pca9956.dtsi"
#include "qcs405-charger.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. QCS405 Turbox C405 DVT IOT WITH PINE";
	compatible = "qcom,qcs405-iot", "qcom,qcs405", "qcom,iot";
	qcom,board-id = <0x010020 6>;
};

&i2c_5 {
	status = "ok";
};

&i2c_2 {
	qcom,clk-freq-out = <100000>;
	status = "ok";

	bq40z50@B {
		compatible = "ti,bq40z50";
		reg = <0x0B>;
	};
};

&smp2p_sleepstate {
	status = "disabled";
};

&smb1351_otg_supply {
	status = "disabled";
};

&soc {
	gpio_keys {
		vol_mute {
			gpios = <&tlmm 19 GPIO_ACTIVE_LOW>;
		};
	};
};

&tlmm {
	evb_tlmm_gpio_key{
		tlmm_gpio_key_active: tlmm_gpio_key_active {
			mux {
				pins = "gpio19","gpio52","gpio54","gpio115";
			};

			config {
				pins = "gpio19","gpio52","gpio54","gpio115";
			};
		};

		tlmm_gpio_key_suspend: tlmm_gpio_key_suspend {
			mux {
				pins = "gpio19","gpio52","gpio54","gpio115";
			};

			config {
				pins = "gpio19","gpio52","gpio54","gpio115";
			};
		};
	};
};

&usb3 {
	qcom,charging-disabled;
	/delete-property/ extcon;
};

&usb3_extcon {
	/delete-property/ vbus-gpio;

	pinctrl-0 = <&usb3_id_det_default
		     &usb3_vbus_boost_default>;
};

&soc {
	usb2_extcon: usb2_extcon {
		compatible = "linux,extcon-usb-gpio";
		vbus-gpio = <&pms405_gpios 12 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&usb3_vbus_det_default>;
	};
};

&usb2s {
	extcon = <&usb2_extcon>;
};

&qcs405_snd {
	qcom,tasha-codec = <0>;
	qcom,wcn-btfm = <0>;
	qcom,model = "qcs404-wsa-rb1-snd-card";
};

&wcd9335 {
	status = "disabled";
};

&rpm_bus {
	rpm-regulator-ldoa7 {
		status = "okay";
		pms405_l7: regulator-l7 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			qcom,init-voltage = <1800000>;
			regulator-always-on;
			status = "okay";
		};
	};
};

#include "qcs405-mdss-panels.dtsi"

&mdss_mdp {
	qcom,mdss-pref-prim-intf = "dsi";
};

&mdss_dsi {
	hw-config = "single_dsi";
};

&mdss_hdmi_tx {
	pinctrl-names = "hdmi_hpd_active", "hdmi_ddc_active", "hdmi_cec_active",
				"hdmi_active", "hdmi_sleep";
	pinctrl-0 = <&mdss_hdmi_5v_active  &mdss_hdmi_hpd_active
			&mdss_hdmi_ddc_suspend &mdss_hdmi_cec_suspend>;
	pinctrl-1 = <&mdss_hdmi_5v_active &mdss_hdmi_hpd_active
			&mdss_hdmi_ddc_active &mdss_hdmi_cec_suspend>;
	pinctrl-2 = <&mdss_hdmi_5v_active &mdss_hdmi_hpd_active
			&mdss_hdmi_cec_active &mdss_hdmi_ddc_suspend>;
	pinctrl-3 = <&mdss_hdmi_5v_active &mdss_hdmi_hpd_active
			&mdss_hdmi_ddc_active &mdss_hdmi_cec_active>;
	pinctrl-4 = <&mdss_hdmi_5v_suspend &mdss_hdmi_hpd_suspend
			&mdss_hdmi_ddc_suspend &mdss_hdmi_cec_suspend>;
	qcom,max-pclk-frequency-khz = <74250>;
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_ili9881c_720p_video>;
	pinctrl-names = "mdss_default", "mdss_sleep";
	pinctrl-0 = <&mdss_dsi_active &mdss_te_active>;
	pinctrl-1 = <&mdss_dsi_suspend &mdss_te_suspend>;

	qcom,platform-te-gpio = <&tlmm 41 0>;
	qcom,platform-reset-gpio = <&tlmm 39 0>;
};

&dsi_ili9881c_720p_video {
	qcom,panel-supply-entries = <&dsi_panel_pwr_supply>;
	qcom,mdss-dsi-bl-pmic-control-type = "bl_ctrl_dcs";
	qcom,mdss-dsi-bl-pmic-bank-select = <0>;
	qcom,mdss-dsi-bl-min-level = <1>;
	qcom,mdss-dsi-bl-max-level = <4095>;
	qcom,mdss-dsi-bl-inverted-dbv;
};

&mdss_rgb {
	status = "disabled";
};
