/*
 * Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/usb/pd.h>

smb2352: qcom,smb2352@71 {
	compatible = "qcom,i2c-pmic";
	reg = <0x71>;
	#address-cells = <1>;
	#size-cells = <0>;
	interrupt-controller;
	#interrupt-cells = <3>;
	interrupt-parent = <&tlmm>;
	interrupts = <80 IRQ_TYPE_LEVEL_LOW>;
	qcom,periph-map = <0x6 0xa 0x10 0x11 0x12 0x13 0x15 0x16 0x17>;
	pinctrl-names = "default";
	pinctrl-0 = <&smb2352_gpio_int_active>;

	revid@100 {
		compatible = "qcom,qpnp-revid";
		reg = <0x100>;
	};

	smb2352_charger: smb2352_charger {
		compatible = "qcom,smb235x-charger";
		#address-cells = <1>;
		#size-cells = <1>;
		interrupt-parent = <&smb2352>;
		tcpm-psy-name = "78b7000.i2c:qcom,smb2352@71:typec@1500";

		interrupts = <0x10 0x0 IRQ_TYPE_EDGE_RISING>,
			<0x10 0x1 IRQ_TYPE_EDGE_RISING>,
			<0x11 0x0 IRQ_TYPE_EDGE_RISING>,
			<0x11 0x5 IRQ_TYPE_LEVEL_HIGH>,
			<0x12 0x0 IRQ_TYPE_EDGE_RISING>,
			<0x12 0x2 IRQ_TYPE_LEVEL_HIGH>,
			<0x12 0x3 IRQ_TYPE_LEVEL_HIGH>,
			<0x12 0x4 IRQ_TYPE_LEVEL_HIGH>,
			<0x12 0x5 IRQ_TYPE_LEVEL_HIGH>,
			<0x13 0x0 IRQ_TYPE_LEVEL_HIGH>,
			<0x13 0x1 IRQ_TYPE_LEVEL_HIGH>,
			<0x13 0x2 IRQ_TYPE_LEVEL_HIGH>,
			<0x13 0x3 IRQ_TYPE_LEVEL_HIGH>,
			<0x13 0x4 IRQ_TYPE_LEVEL_HIGH>,
			<0x13 0x6 IRQ_TYPE_EDGE_RISING>,
			<0x13 0x7 IRQ_TYPE_EDGE_RISING>,
			<0x16 0x1 IRQ_TYPE_EDGE_RISING>,
			<0x16 0x3 IRQ_TYPE_LEVEL_HIGH>,
			<0x16 0x6 IRQ_TYPE_EDGE_RISING>;

		interrupt-names = "chgr-error",
			"chgr-state-change",
			"otg-fail",
			"input-current-limit",
			"batt-temp",
			"batt-ov",
			"batt-low",
			"batt-therm-or-id-missing",
			"batt-terminal-missing",
			"usbin-collapse",
			"usbin-vashdn",
			"usbin-uv",
			"usbin-ov",
			"usbin-plugin",
			"usbin-src-change",
			"usbin-icl-change",
			"aicl-done",
			"temp-change",
			"wdog-bark";
	};

	smb2352_vbus: usb-vbus-regulator@1100 {
		compatible = "qcom,pm8150b-vbus-reg";
		reg = <0x1100>;
	};

	smb2352_dummy_reg: regulator-smb2352-dummy {
		compatible = "qcom,stub-regulator";
		regulator-name = "smb2352_dummy_reg";
		regulator-min-microvolt = <3100000>;
		regulator-max-microvolt = <3100000>;
	};

	smb2352_typec: typec@1500 {
		compatible = "qcom,pm8150b-typec";
		reg = <0x1500>,
		      <0x1700>;
		interrupts = <0x15 0x00 IRQ_TYPE_EDGE_RISING>,
			     <0x15 0x01 IRQ_TYPE_EDGE_BOTH>,
			     <0x15 0x02 IRQ_TYPE_EDGE_RISING>,
			     <0x15 0x03 IRQ_TYPE_EDGE_BOTH>,
			     <0x15 0x04 IRQ_TYPE_EDGE_RISING>,
			     <0x15 0x05 IRQ_TYPE_EDGE_RISING>,
			     <0x15 0x06 IRQ_TYPE_EDGE_BOTH>,
			     <0x15 0x07 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x00 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x01 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x02 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x03 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x04 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x05 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x06 IRQ_TYPE_EDGE_RISING>,
			     <0x17 0x07 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "or-rid-detect-change",
				  "vpd-detect",
				  "cc-state-change",
				  "vconn-oc",
				  "vbus-change",
				  "attach-detach",
				  "legacy-cable-detect",
				  "try-snk-src-detect",
				  "sig-tx",
				  "sig-rx",
				  "msg-tx",
				  "msg-rx",
				  "msg-tx-failed",
				  "msg-tx-discarded",
				  "msg-rx-discarded",
				  "fr-swap";
		vdd-pdphy-supply = <&smb2352_dummy_reg>;
		vdd-vbus-supply = <&smb2352_vbus>;

		connector {
			compatible = "usb-c-connector";

			power-role = "dual";
			data-role = "dual";
			self-powered;

			try-power-role = "sink";
			op-sink-microwatt = <15000000>;

			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
					PDO_FIXED(9000, 3000, PDO_FIXED_USB_COMM)
					PDO_FIXED(12000, 3000, PDO_FIXED_USB_COMM)
                                        PDO_PPS_APDO(3000, 11000, 3000)>;

			source-pdos = <PDO_FIXED(5000, 3000,
						 PDO_FIXED_DUAL_ROLE |
						 PDO_FIXED_USB_COMM |
						 PDO_FIXED_DATA_SWAP)>;
		};
	};
};
